{% extends "base.html" %}
{% block title %}关于我{% endblock %}

{% block page_header %}
<div class="page-heading">
    <h1>Zhou Yi</h1>
        <hr class="small">
        <span class="subheading">Pythoner, 后端开发工程师</span>
</div>
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <ul>
                <li>爱好写简洁的优美的代码, 有代码改改改强迫症</li>
                <li>喜欢做有挑战性的事情, 喜欢做算法题被虐虐虐后想明白的喜感</li>
                <li>想要联系我? <strong>Please:</strong>shirleychou1@live.cn</li>
            </ul>
        </div>
    </div>
</div>
<hr>
{% endblock %}

