{% extends "base.html" %}
{% block title %}write new post{% endblock %}

{% block page_header %}
<div class="page-heading">
    <h1>Write A New Post</h1>
    <hr class="small">
    <span class="subheading">below</span>
</div>
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form action="/" method="get">
                    <input type="text" name="q">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
